*.obj
*.pdb
*.exe
*.lib
*.ilk
*.a
*.dylib
*.cbp

**/CMakeFiles/
**/Makefile
**/cmake_install.cmake
**/CTestTestfile.cmake
CMakeCache.txt

**/*.sln
**/*.vcxproj
**/*.vcxproj.filters
**/*.tlog

**/gtest
Testing
cmake-build-*