*.obj
*.pdb
*.exe
*.lib
*.ilk
*.a
*.dylib
*.cbp

**/CMakeFiles/
**/Makefile
**/cmake_install.cmake
**/CTestTestfile.cmake*
**/CMakeCache.txt*
**/CMakeLists.txt.user

**/*.sln*
**/*.vcxproj*
**/*.vcxproj.filters
**/*.tlog
**/*.dir/
**/gtest

**/Testing
**/cmake-build-*

phycoub/tests/unit_tests/borderconditions/BorderConditionTests
phycoub/tests/unit_tests/lifetimecontrollers/LifeTimeControllerTests
phycoub/tests/unit_tests/mathematic/MathematicTests
phycoub/tests/unit_tests/particle/ParticleTests
phycoub/tests/unit_tests/particlesources/ParticleSourceTests
phycoub/tests/integration_tests/electroninhomogeneousfields/ElectronInHomogeneousFieldsTests
phycoub/tests/integration_tests/wilsoncloudchamber/WilsonCloudChamberTests

examples/electroninhomogeneousfields/electroninhomogeneousfields
examples/magnetron/magnetron
examples/wilsoncloudchamber/wilsoncloudchamber

**/build*/
**/*.autosave
**/*.pro.user
**/*.pro.user*
**/*_autogen
